html {
	background-color: black;
}

.hide {
	display: none !important;
}

.page {
	width: 100%;
	color: #EEE;
}

h1 {
	font: 50px bold;
}

.loginContainer {
	text-align: center;
}

.loginContainer h1 {
	padding-top: 100px;
}

.loginContainer form {
	width: 100%;
}

.loginContainer input[type='text'] {
	width: 50%;
	font-size: 25px;
	text-align: center;
}

.loginContainer button[type='submit'] {
	display:none;
}

.card {
	width: 215px;
	height: 400px;
	font-size: 10em;
	background-color: red;
	border: 2px solid;
	border-radius: 25px;
	position: relative;
	margin: 10px;
}

.card.undecided {
	background-color: #3D3D3D;
}

.cardContents {
	display: block;
}

.cardsListDisplay li {
	float: left;
}

.selectionBoard {
	clear: both;
}

.selectionBoard .card {
	float: left;
}
